[submodule "automation"]
	path = automation
	url = git@github.com:theatersoft/automation.git
[submodule "bus"]
	path = bus
	url = git@github.com:theatersoft/bus.git
[submodule "device"]
	path = device
	url = git@github.com:theatersoft/device.git
[submodule "client"]
	path = client
	url = git@github.com:theatersoft/client.git
[submodule "components"]
	path = components
	url = git@github.com:theatersoft/components.git
[submodule "focus"]
	path = focus
	url = git@github.com:theatersoft/focus.git
[submodule "home"]
	path = home
	url = git@github.com:theatersoft/home.git
[submodule "serial"]
	path = serial
	url = git@github.com:theatersoft/serial.git
[submodule "server"]
	path = server
	url = git@github.com:theatersoft/server.git
