[submodule "automation"]
	path = automation
	url = git@github.com:theatersoft/automation.git
[submodule "bus"]
	path = bus
	url = git@github.com:theatersoft/bus.git
[submodule "device"]
	path = device
	url = git@github.com:theatersoft/device.git
